---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="Dear"/>
  <meta property="og:url" content="http://dear.audio{{ page.url }}" />
  <meta property="og:description" content="The letters of two friends, a podcast." />
  <meta name="keywords" content="Dear,podcast,dear the letters of two friends,letters,dear podcast,audio,radio,dear radio, dear podcast,storytelling,narrative podcast,sound design,">
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://dear.audio/images/logo.svg" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114726937-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114726937-1');
  </script>
</head>
<body style="background-color: rgb(255, 255, 255); overflow: auto">
<center><img src="/images/logo.svg" alt="Dear" height="200" width="400"><br/>
  <center> <div class="links">
      <a href="{{site.baseurl}}/home/">home</a>
      <a href="{{site.baseurl}}/about/">about</a>
      <a href="{{site.baseurl}}/news/">news</a>
      <a href="{{site.baseurl}}/subscribe/">subscribe</a>
  </div> </center><br/><br/>
<center>
 <script src="{{site.baseurl}}/js/theme.min.js"></script>
  {{ content }}
<footer>
</footer>
</center>
</body>
</html>
